input:required:invalid, input:focus:invalid {
    background-image: url(/CivilRegister/images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
  input:required:valid {
    background-image: url(/CivilRegister/images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
  }