<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CivilRegister</display-name>
  <welcome-file-list>
    <welcome-file>JSP/welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddbirthServ</servlet-name>
    <servlet-class>civil.servlet.AddbirthServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddbirthServ</servlet-name>
    <url-pattern>/AddbirthServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDeathServ</servlet-name>
    <servlet-class>civil.servlet.AddDeathServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeathServ</servlet-name>
    <url-pattern>/AddDeathServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMarriage</servlet-name>
    <servlet-class>civil.servlet.AddMarriage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMarriage</servlet-name>
    <url-pattern>/AddMarriage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoBirthServ</servlet-name>
    <servlet-class>civil.servlet.InfoBirthServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoBirthServ</servlet-name>
    <url-pattern>/InfoBirthServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoDeathServ</servlet-name>
    <servlet-class>civil.servlet.InfoDeathServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoDeathServ</servlet-name>
    <url-pattern>/InfoDeathServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoMarriageServ</servlet-name>
    <servlet-class>civil.servlet.InfoMarriageServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoMarriageServ</servlet-name>
    <url-pattern>/InfoMarriageServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFeedback</servlet-name>
    <servlet-class>civil.servlet.AddFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeedback</servlet-name>
    <url-pattern>/AddFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditBirthServ</servlet-name>
    <servlet-class>civil.servlet.EditBirthServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBirthServ</servlet-name>
    <url-pattern>/EditBirthServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditBirthSer</servlet-name>
    <servlet-class>civil.servlet.EditBirthSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBirthSer</servlet-name>
    <url-pattern>/EditBirthSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditDeathSer</servlet-name>
    <servlet-class>civil.servlet.EditDeathSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDeathSer</servlet-name>
    <url-pattern>/EditDeathSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditDeathServ</servlet-name>
    <servlet-class>civil.servlet.EditDeathServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDeathServ</servlet-name>
    <url-pattern>/EditDeathServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditMarriagSer</servlet-name>
    <servlet-class>civil.servlet.EditMarriagSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMarriagSer</servlet-name>
    <url-pattern>/EditMarriagSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditMarriagServ</servlet-name>
    <servlet-class>civil.servlet.EditMarriagServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMarriagServ</servlet-name>
    <url-pattern>/EditMarriagServ</url-pattern>
  </servlet-mapping>
</web-app>